@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Styles */
body {
    /* font-family: "Open Sans";
	font-size: 14px;
	color: white;
	background: #2c3e50; */
}

form {
	width: 75%;
	padding: 20px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

button {
	margin: 10px;
	padding: 6px;
	cursor: pointer;
	/* 	display: block;
	width: 20%;
	border: 0; 
	background: #e67e22;
	color: #fff; */
}

form .error {
	color: #ff0000;
	background: auto;
}

.error:focus {
	outline: #ff0000 solid 1px;
	}
